body{
    background-color:rgb(50, 111, 168);

}
h1{
    color:rgba(50, 111, 168,0.1);
    /* text-shadow: 3px 2px  rgb(98, 142, 179); */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 140px;
    /* vertical-align: middle; */
    text-transform: uppercase;
    -webkit-text-stroke: 3px rgb(22, 73, 118);
    padding: 300px 0 0 0;   
    
    -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none;

}
h2{
    color:rgb(27, 60, 87);
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 10 px;
    text-transform: uppercase;
    /* -webkit-text-stroke: 3px rgb(98, 142, 179); */
    padding: 0 0 0 0;

    -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none;
}
#p5Canvas{
    width:100%;
    height:100%;
    display: block;
    position: fixed;
    top:0;
    left:0;
    z-index: -9999;
}